<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Template</title>
    <style>
        body,
        html {
            font-size: 35px;
        }

        div:not(:last-child) {
            page-break-after: always;
        }


        #vehicule-desc {
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="vehicule-desc">
        <h3>Liste des incidents du véhicule</h3>
        <p>{{vehicule.desc}}</p>
    </div>
    <div id="tableDesMatieres">
        <h3>Table des matières</h3>
        <ul>
            <li><a href="#resume">Résumé</a>3</li>
            <li><a href="#incidents">Liste des incident et status des incidents</a>4</li>
            <li><a href="#incidents-details">Liste des détaillé des incidents</a>5</li>
            {% for post in vehicule.posts_distinct %}
                <li><a href="#{{post[1]}}">Incidents du poste de travail {{post[0]}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div id="resume">
        <h3>Résumé</h3>
        <p>Ce rapport a pour but d’informer sur
            la liste des incidents des incidents déclarés sur le véhicule {{vehicule.desc}}.</p>
        <p>{{ vehicule.incidents|length }} ont été trouvés sur le véhicule</p>
        </p>
    </div>
    <div id="incidents">
        <h3>Liste des incidents</h3>
        <p>Le tableau ci-dessous montre la liste des incidents pour le véhicule {{vehicule.desc}}</p>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Description de l’incident</th>
                    <th>Etat</th>
                </tr>
            </thead>
            <tbody>
                {% for incident in vehicule.incidents %}
                <tr>
                    <td>{{ incident[0] }}</td>
                    <td>{{ incident[1] }}</td>
                    {% if incident[2] == "OPEN" %}
                        <td style="background-color: red;">{{ incident[2] }}</td>
                    {% else %}
                        <td style="background-color: green;">{{ incident[2] }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="incidents-details">
        <h3>Liste détaillé des incidents</h3>
        <p>Ce chapitre contient la liste des incidents déclarés par poste de travail</p>
        {% for post in vehicule.posts_distinct %}
        <h3>Poste de travail {{post[0]}}</h3>
        <p>Le tableau ci-dessous montre la liste des incidents déclarés sur le poste de travail 
            {{post[1]}} pour le véhicule {{vehicule.desc}} :</p>
            <table border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>OT</th>
                    </tr>
                </thead>
                <tbody>
                    {% for incident in vehicule.posts %}
                        {% if incident[2] == post[0] %}
                            <tr>
                                <td>{{ incident[0] }}</td>
                                <td>{{ incident[1] }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
</body>

</html>